<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head('Iniciar sesión')}"></head>

<body>
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="card " style="max-width:420px; width:100%;">
      <div class="card-body p-5">
        <div class="text-center mb-3">
          <span class="mb-4 d-inline-flex align-items-center"><img th:src="@{/assets/images/logo-icon.svg}" alt="" width="36">
            <span class="ms-2 fs-4 fw-semibold">TechSales</span>
          </span>
          <h1 class="card-title mb-5 h5">Ingresá a tu cuenta</h1>
        </div>

        <div th:replace="~{fragments/layout :: alertas}"></div>

        <form class="mt-3" th:action="@{/login}" th:object="${login}" method="post">
          <div class="mb-3">
            <label for="mail" class="form-label">Correo electrónico</label>
            <input id="mail" type="email" class="form-control" placeholder="nombre@ejemplo.com" th:field="*{mail}" required autofocus>
          </div>

          <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input id="clave" type="password" class="form-control" placeholder="Clave" th:field="*{clave}" required>
          </div>

          <button class="btn btn-primary w-100" type="submit">Ingresar</button>
        </form>

        <div class="text-center mt-3 small text-muted">
          ¿No tenés cuenta? <a th:href="@{/registro}" class="link-primary">Registrate</a>
        </div>
      </div>
    </div>
  </div>

  <th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>

</html>
